html {
    margin: 0px;
    height: 100%;
 }

body {
    background-image: url('images/IMG_8432.jpg');
    margin: 0;
    height: 100%;
    background-color: rosybrown;
    color: #121621;
}

p {
    text-decoration: none;
    color: #121621;
    font-size: 20px;
    float: right;
    width: 860px;
    margin-right: 45px;
    text-align: right;
    display: inline-block;
}

a {
    color: #121621;
    text-decoration: none;
    display: inline-block;
}

a:hover {
    color: #cd853f;
    transform:scale(1.2);
}

.right {
    float: right;
    width: 300px;
    padding: 10px;
}