.navbar {
    display: flex;
    flex-direction: row;
    justify-content: right; 
    align-items: center;
}

.navbar-item {
    display: flex; 
    flex-direction: row;
    justify-content: right; 
    align-items: center;
    margin-right: 30px;
    text-transform: capitalize;
}
